body {
  font-family: Helvetica;
  text-align: center;
}

a {
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

nav {
  font-size: 18px;
  color: white;
}

li {
  list-style-type: none;
}

p {
  font-size: 14px;
}

.header {
  background-image: url("../images/the-flatiron-building.jpg");
}

.process {

}

.banner {
  background-image: url("../images/the-flatiron-building.jpg");
  color: white;
}

.footer {
  background-color: dimgray;
  text-align: left;
}

.footer li{
  display: inline;
}

.footer span{
  font-size: 11px;
  color: white;
}
